@page

<div class="vhcenter">
    <h1>Welcome to BULLS&amp;COWS.</h1>
</div>
<p>
    <b>Bulls and Cows</b> (also known as Cows and Bulls or Pigs and Bulls) is an old code-breaking mind or paper and pencil game for two or more players, predating the commercially marketed board game Mastermind.
    It is a game that may date back a century or more which uses numbers or words. It is played by two opponents.
    The numerical version of the game is usually played with 4 digits, but can also be played with 3 or any other number of digits.
    On a sheet of paper, the players each write a 4-digit secret number. The digits must be all different. Then, in turn, the players try to guess their opponent's number who gives the number of matches. If the matching digits are in their right positions, they are "bulls", if in different positions, they are "cows".
    The game may also be played by two teams of players, with the team members discussing their strategy before selecting a move.
    A computer program moo, written in 1970 by J. M. Grochow at MIT in the PL/I computer language for the Multics operating system, was amongst the first Bulls and Cows computer implementations, inspired by a similar program written by Frank King in 1968 and running on the Cambridge University mainframe. Because the game has simple rules, while it is difficult and entertaining, there are many computer variants; it is often included in telephones and PDAs.
    It is proven that any number could be solved within seven turns. Minimal average game length is 26274/5040=5.2131 turns.
</p>

<div class="text-center">
    <form asp-action="Game">
        <div class="form-group">
            <input type="submit" value="PLAY GAME" class="btn btn-primary" />
        </div>
    </form>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    p {
        text-align: justify;
        font-size: 1.3em;
        margin-top:4em;
    }

    .vhcenter {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
